/* General */
.container {
  max-width: 1280px;
  padding: 0 12px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Quicksand", sans-serif;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 32px 0;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 12px 0;
}
a {
  text-decoration: none;
}

/* --- */
/* NAV */
/* --- */
.nav {
  background-color: rgba(0, 6, 2, 0.82);
  padding: 12px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    height: 50px;
  }
  a {
    color: #fff;
    text-decoration: none;
    padding: 0 12px;
  }
  span {
    padding-left: 12px;
    color: #fff;
  }
}

/* ------- */
/* COMICS */
/* ------- */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  flex-wrap: wrap;

  .item {
    flex-grow: 1;
    width: 150px;
    margin-bottom: 24px;

    img {
      width: 100%;
    }
    h2,
    p {
      margin-top: 12px;
      text-align: center;
      line-height: 18px;
    }
  }
}

// CHARACTER
.header {
  position: relative; /* Make sure the container is positioned relatively */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  h1 {
    color: #fff;
    z-index: 2;
    font-size: 48px;
    text-shadow: 0px 0px 5px rgba(0, 6, 2, 0.82);
  }
}
